In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('job_descriptions.csv')
df.head(5)

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [3]:
df.isnull().sum()

Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     5478
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
#drop irrelevent columns 
irrelevent_columns = ['Job Id','Contact Person','Contact','Job Portal','latitude','longitude','Company Profile','Job Posting Date','Preference','Company','location','Company Size','Country']
df= df.drop(columns=irrelevent_columns)

In [6]:
df['Job Summary'] = df['Experience']+" "+df['Job Description']+" "+df['Job Title']+" "+df['Qualifications']+" "+df['Responsibilities']+" "+df['Role']+" "+df['Work Type']+" "+df['skills']

In [7]:
df1 = df[['Job Summary','Salary Range']]

In [8]:
df1.sample(3)

                                               Job Summary Salary Range
1192160  0 to 11 Years Forensic Accountants investigate...   $62K-$127K
1574656  0 to 8 Years Investment Analysts analyze finan...   $59K-$126K
1133699  4 to 9 Years Investment Advisors offer financi...   $62K-$126K

In [9]:
# converted into lower case
df1['Job Summary'] = df1['Job Summary'].str.lower()
df1.head(5)

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\806325838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].str.lower()

                                         Job Summary Salary Range
0  5 to 15 years social media managers oversee an...    $59K-$99K
1  2 to 12 years frontend web developers design a...   $56K-$116K
2  0 to 12 years quality control managers establi...   $61K-$104K
3  4 to 11 years wireless network engineers desig...    $65K-$91K
4  1 to 12 years a conference manager coordinates...    $64K-$87K

In [10]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*>')
    return pattern.sub(r'', text)

df1['Job Summary'] = df1['Job Summary'].apply(remove_html_tags)
df1

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\1655898023.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].apply(remove_html_tags)

                                               Job Summary Salary Range
0        5 to 15 years social media managers oversee an...    $59K-$99K
1        2 to 12 years frontend web developers design a...   $56K-$116K
2        0 to 12 years quality control managers establi...   $61K-$104K
3        4 to 11 years wireless network engineers desig...    $65K-$91K
4        1 to 12 years a conference manager coordinates...    $64K-$87K
...                                                    ...          ...
1615935  0 to 12 years mechanical design engineers crea...   $64K-$114K
1615936  2 to 14 years an it director oversees an organ...   $62K-$130K
1615937  4 to 15 years mechanical design engineers crea...    $60K-$96K
1615938  5 to 15 years training coordinators design and...   $65K-$103K
1615939  1 to 11 years wedding planners specialize in o...   $56K-$109K

[1615940 rows x 2 columns]

In [11]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

df1['Job Summary'] = df1['Job Summary'].apply(remove_url)
df1

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\134649544.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].apply(remove_url)

                                               Job Summary Salary Range
0        5 to 15 years social media managers oversee an...    $59K-$99K
1        2 to 12 years frontend web developers design a...   $56K-$116K
2        0 to 12 years quality control managers establi...   $61K-$104K
3        4 to 11 years wireless network engineers desig...    $65K-$91K
4        1 to 12 years a conference manager coordinates...    $64K-$87K
...                                                    ...          ...
1615935  0 to 12 years mechanical design engineers crea...   $64K-$114K
1615936  2 to 14 years an it director oversees an organ...   $62K-$130K
1615937  4 to 15 years mechanical design engineers crea...    $60K-$96K
1615938  5 to 15 years training coordinators design and...   $65K-$103K
1615939  1 to 11 years wedding planners specialize in o...   $56K-$109K

[1615940 rows x 2 columns]

In [12]:
import string,time
exclude = string.punctuation
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

df1['Job Summary'] = df1['Job Summary'].apply(remove_punc1)
df1

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\369400084.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].apply(remove_punc1)

                                               Job Summary Salary Range
0        5 to 15 years social media managers oversee an...    $59K-$99K
1        2 to 12 years frontend web developers design a...   $56K-$116K
2        0 to 12 years quality control managers establi...   $61K-$104K
3        4 to 11 years wireless network engineers desig...    $65K-$91K
4        1 to 12 years a conference manager coordinates...    $64K-$87K
...                                                    ...          ...
1615935  0 to 12 years mechanical design engineers crea...   $64K-$114K
1615936  2 to 14 years an it director oversees an organ...   $62K-$130K
1615937  4 to 15 years mechanical design engineers crea...    $60K-$96K
1615938  5 to 15 years training coordinators design and...   $65K-$103K
1615939  1 to 11 years wedding planners specialize in o...   $56K-$109K

[1615940 rows x 2 columns]

In [13]:
### Alternative faster approach to remove stopwords 
from nltk.corpus import stopwords

# Load stopwords and convert to a set
stop_words = set(stopwords.words('english'))

# Optimized function
def remove_stopwords_fast(text):
    return " ".join(word for word in text.split() if word not in stop_words)

In [14]:
# Apply the function
df1['Job Summary'] = df1['Job Summary'].apply(remove_stopwords_fast)

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\2828234454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].apply(remove_stopwords_fast)

In [15]:
df1.head(3)

                                         Job Summary Salary Range
0  5 15 years social media managers oversee organ...    $59K-$99K
1  2 12 years frontend web developers design impl...   $56K-$116K
2  0 12 years quality control managers establish ...   $61K-$104K

In [16]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import nltk

#Download WordNet data if not already downloaded
# nltk.download('wordnet')
# nltk.download('omw-1.4')  # For multilingual WordNet
# nltk.download('averaged_perceptron_tagger')  # For POS tagging
# nltk.download('averaged_perceptron_tagger_eng')

lemmatizer = WordNetLemmatizer()

# Function to get WordNet POS tag from nltk POS tag
# def get_wordnet_pos(word):
#     """Map NLTK POS tag to WordNet POS tag."""
#     tag = nltk.pos_tag([word])[0][1][0].upper()
#     tag_dict = {
#         'J': wordnet.ADJ,
#         'N': wordnet.NOUN,
#         'V': wordnet.VERB,
#         'R': wordnet.ADV
#     }
#     return tag_dict.get(tag, wordnet.NOUN)

# Optimized POS tagging function
def get_wordnet_pos(text):
    """Get WordNet POS tags for all words in a sentence."""
    pos_tags = nltk.pos_tag(text.split())
    return [(word, {
        'J': wordnet.ADJ,
        'N': wordnet.NOUN,
        'V': wordnet.VERB,
        'R': wordnet.ADV
    }.get(tag[0].upper(), wordnet.NOUN)) for word, tag in pos_tags]


# Lemmatization function
# def lemmatize(text):
#     lemmatized_words = []
#     for word in text.split():
#         pos = get_wordnet_pos(word)  # Get the POS tag for each word
#         lemmatized_words.append(lemmatizer.lemmatize(word, pos))
#     return " ".join(lemmatized_words)


# Optimized lemmatization function
def lemmatize(text):
    """Lemmatize all words in a sentence using optimized POS tagging."""
    lemmatized_words = []
    for word, pos in get_wordnet_pos(text):
        lemmatized_words.append(lemmatizer.lemmatize(word, pos))
    return " ".join(lemmatized_words)

In [17]:
# Apply lemmatization
df1['Job Summary'] = df1['Job Summary'].apply(lemmatize)

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3314001281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary'] = df1['Job Summary'].apply(lemmatize)

In [18]:
# from gensim.models import Word2Vec
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df1['Salary Range Encoded'] = le.fit_transform(df1['Salary Range'])

# # Tokenize Job Summary
# df1['Job Summary Tokens'] = df1['Job Summary'].apply(lambda x: x.split())
# df1

In [22]:
#Extract Min and max Salary and calculate average salary 
def extract_min_max_salary(salary):
    df1[['Min Salary', 'Max Salary']] = df1['Salary Range'].str.extract(r'\$?(\d+)[kK]-\$?(\d+)[kK]')
    df1['Min Salary'] = pd.to_numeric(df1['Min Salary']) * 1000
    df1['Max Salary'] = pd.to_numeric(df1['Max Salary']) * 1000
    df1['Average Salary'] = (df1['Min Salary'] + df1['Max Salary']) / 2


extract_min_max_salary(df['Salary Range'])

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3843439467.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['Min Salary', 'Max Salary']] = df1['Salary Range'].str.extract(r'\$?(\d+)[kK]-\$?(\d+)[kK]')
C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3843439467.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['Min Salary', 'Max Salary']] = df1['Salary Range'].str.extract(r'\$?(\d+)[kK]-\$?(\d+)[kK]')
C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3843439467.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Min Salary'] = pd.to_numeric(df1['Min Salary']) * 1000
C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3843439467.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Max Salary'] = pd.to_numeric(df1['Max Salary']) * 1000
C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\3843439467.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Average Salary'] = (df1['Min Salary'] + df1['Max Salary']) / 2

In [23]:
df1.sample(5)

,Job Summary,Salary Range,Min Salary,Max Salary,Average Salary
821717,4 9 year soc analyst work security operation c...,$56K-$123K,56000,123000,89500.0
774149,0 11 year director oversee organization depart...,$60K-$127K,60000,127000,93500.0
247522,1 11 year seo specialist optimize website sear...,$62K-$82K,62000,82000,72000.0
1239074,5 9 year conduct research design experiment de...,$63K-$111K,63000,111000,87000.0
36652,3 14 year market research coordinator support ...,$56K-$114K,56000,114000,85000.0

In [24]:
from gensim.models import Word2Vec

# Tokenize the text
df1['Job Summary Tokens'] = df1['Job Summary'].apply(lambda x: x.split())

# Train Word2Vec with optimized parameters
w2v_model = Word2Vec(
    sentences=df1['Job Summary Tokens'],
    vector_size=100,  # Reduce vector size if necessary
    window=5,         # Context window size
    min_count=5,      # Ignore rare words
    workers=4,        # Number of threads
    sg=1,             # Skip-gram model (use sg=0 for CBOW)
    epochs=10         # Number of training epochs
)

# Generate sentence vectors
def get_sentence_vector(sentence, model):
    vector = np.zeros(model.vector_size)
    count = 0
    for word in sentence:
        if word in model.wv:
            vector += model.wv[word]
            count += 1
    if count > 0:
        vector /= count
    return vector

# Apply the function to the dataset
df1['Job Summary Vector'] = df1['Job Summary Tokens'].apply(lambda x: get_sentence_vector(x, w2v_model))

C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\2600375982.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary Tokens'] = df1['Job Summary'].apply(lambda x: x.split())
C:\Users\Insha sadaf\AppData\Local\Temp\ipykernel_11176\2600375982.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Job Summary Vector'] = df1['Job Summary Tokens'].apply(lambda x: get_sentence_vector(x, w2v_model))

In [33]:
df1

,Job Summary,Salary Range,Min Salary,Max Salary,Average Salary,Job Summary Tokens,Job Summary Vector
0,5 15 year social medium manager oversee organi...,$59K-$99K,59000,99000,79000.0,"[5, 15, year, social, medium, manager, oversee...","[0.2630910024650999, -0.3295734793677725, -0.0..."
1,2 12 year frontend web developer design implem...,$56K-$116K,56000,116000,86000.0,"[2, 12, year, frontend, web, developer, design...","[0.2750419786898419, -0.18095968652050942, 0.2..."
2,0 12 year quality control manager establish en...,$61K-$104K,61000,104000,82500.0,"[0, 12, year, quality, control, manager, estab...","[0.05616508497526714, 0.07128027302031922, 0.2..."
3,4 11 year wireless network engineer design imp...,$65K-$91K,65000,91000,78000.0,"[4, 11, year, wireless, network, engineer, des...","[0.4101015184519451, 0.7604228878226965, 0.147..."
4,1 12 year conference manager coordinate manage...,$64K-$87K,64000,87000,75500.0,"[1, 12, year, conference, manager, coordinate,...","[0.21883462289614336, -0.06744071551864701, 0...."
...,...,...,...,...,...,...,...
1615935,0 12 year mechanical design engineer create de...,$64K-$114K,64000,114000,89000.0,"[0, 12, year, mechanical, design, engineer, cr...","[0.15534922787371805, 0.0017060927097119537, 0..."
1615936,2 14 year director oversee organization depart...,$62K-$130K,62000,130000,96000.0,"[2, 14, year, director, oversee, organization,...","[-0.25853916975005425, 0.3170945252917829, -0...."
1615937,4 15 year mechanical design engineer create de...,$60K-$96K,60000,96000,78000.0,"[4, 15, year, mechanical, design, engineer, cr...","[0.15547174576889067, 0.0011929093549648921, 0..."
1615938,5 15 year train coordinator design implement e...,$65K-$103K,65000,103000,84000.0,"[5, 15, year, train, coordinator, design, impl...","[-0.016908818566850548, -0.28184896633671275, ..."
1615939,1 11 year wed planner specialize organize wedd...,$56K-$109K,56000,109000,82500.0,"[1, 11, year, wed, planner, specialize, organi...","[0.11771124522936971, 0.033990561243212015, -0..."

In [54]:
# # df1.to_pickle('preproc.pkl')
# import pickle
# pickle.dump(df1,open('preproc.pkl','wb'))

In [32]:
# df2=pd.read_pickle("preproc.pkl")
# df2 = pickle.load(open('preproc.pkl','rb'))

In [56]:
# Downsample the dataset to 10% for training
df_sampled = df1.sample(frac=0.05, random_state=42)
df_sampled

,Job Summary,Salary Range,Min Salary,Max Salary,Average Salary,Job Summary Tokens,Job Summary Vector
108318,5 10 year promote diversity inclusion supply c...,$55K-$84K,55000,84000,69500.0,"[5, 10, year, promote, diversity, inclusion, s...","[0.24648733910356388, 0.669253240446331, -0.13..."
7787,0 12 year architectural drafter assist archite...,$61K-$108K,61000,108000,84500.0,"[0, 12, year, architectural, drafter, assist, ...","[0.2212590656708926, -0.13082634954480454, 0.1..."
1237496,0 11 year art education coordinator plan manag...,$57K-$82K,57000,82000,69500.0,"[0, 11, year, art, education, coordinator, pla...","[0.002873359552015447, -0.34572790968404327, 0..."
55757,5 12 year environmental impact analyst assess ...,$56K-$95K,56000,95000,75500.0,"[5, 12, year, environmental, impact, analyst, ...","[0.0945435387215444, 0.2568093960483869, 0.355..."
818970,4 13 year art education coordinator plan manag...,$58K-$122K,58000,122000,90000.0,"[4, 13, year, art, education, coordinator, pla...","[0.0024774905091531022, -0.34624946936620055, ..."
...,...,...,...,...,...,...,...
763484,0 14 year support highlevel executive manage s...,$57K-$102K,57000,102000,79500.0,"[0, 14, year, support, highlevel, executive, m...","[-0.0854411945057412, -0.24035266648667555, 0...."
23435,4 15 year role system integration specialist i...,$58K-$114K,58000,114000,86000.0,"[4, 15, year, role, system, integration, speci...","[-0.12025691897724755, 0.06032754218597945, 0...."
597057,1 14 year system engineer design manage comple...,$55K-$108K,55000,108000,81500.0,"[1, 14, year, system, engineer, design, manage...","[-0.010597951904249689, 0.3713142912214001, 0...."
1350897,4 15 year automation tester use automated test...,$60K-$114K,60000,114000,87000.0,"[4, 15, year, automation, tester, use, automat...","[0.3486932724832542, -0.22545014354326423, 0.3..."
293627,0 15 year event marketing coordinator focus ma...,$62K-$85K,62000,85000,73500.0,"[0, 15, year, event, marketing, coordinator, f...","[0.2115865912956168, -0.0027754532595006924, -..."

In [57]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Split data
# X = df1[['Job Summary Vector']]  # Replace with all feature columns
X = np.array(df_sampled['Job Summary Vector'].tolist())
y = df_sampled['Average Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)

print("MAE:", mean_absolute_error(y_test, y_pred))

MAE: 6731.974522082188

In [60]:
# Train-test split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
*# Define models
models = {
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'Logistic Regression': LogisticRegression(max_iter=500, random_state=42),
    'Support Vector Machine': SVC(kernel='linear', probability=True, random_state=42)
}

# Train and evaluate models
best_model = None
best_accuracy = 0

for name, model in models.items():
    # Train model
    model.fit(X_train, y_train)
    
    # Predict and evaluate
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    
    print(f"Model: {name}")
    print(f"Accuracy: {accuracy}")
    print(classification_report(y_test, y_pred))
    print("-" * 50)
    
    # Store the best model
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model

print(f"Best Model: {best_model}")
print(f"Best Accuracy: {best_accuracy}")