In [1]:
import numpy as np
import pandas as pd

In [3]:
# df = pd.read_csv('job_descriptions.csv')

In [5]:
# df.size

37166620

In [6]:
# df.shape

(1615940, 23)

In [7]:
# df.isnull().sum()

Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     5478
dtype: int64

In [8]:
# df['Company Profile']

0          {"Sector":"Diversified","Industry":"Diversifie...
1          {"Sector":"Financial Services","Industry":"Com...
2          {"Sector":"Insurance","Industry":"Insurance: P...
3          {"Sector":"Energy","Industry":"Mining, Crude-O...
4          {"Sector":"Energy","Industry":"Energy - Oil & ...
                                 ...
1615935    {"Sector":"Food and Beverage/Confectionery","I...
1615936    {"Sector":"Energy","Industry":"Energy","City":...
1615937    {"Sector":"Technology","Industry":"Semiconduct...
1615938    {"Sector":"Automotive","Industry":"Automotive"...
1615939    {"Sector":"Equipment Rental","Industry":"Equip...
Name: Company Profile, Length: 1615940, dtype: object

In [9]:
#drop irrelevent columns 
# irrelevent_columns = ['Job Id','Contact Person','Contact','Job Portal','latitude','longitude','Company Profile','Job Posting Date','Preference','Company','location','Company Size','Country']
# df = df.drop(columns=irrelevent_columns)

In [11]:
# df.duplicated().sum()

0

In [6]:
#Extract Min and max Salary and calculate average salary 
def extract_min_max_salary(salary):
    df[['Min Salary', 'Max Salary']] = df['Salary Range'].str.extract(r'\$?(\d+)[kK]-\$?(\d+)[kK]')
    df['Min Salary'] = pd.to_numeric(df['Min Salary']) * 1000
    df['Max Salary'] = pd.to_numeric(df['Max Salary']) * 1000
    df['Average Salary'] = (df['Min Salary'] + df['Max Salary']) / 2


extract_min_max_salary(df['Salary Range'])

In [4]:
df= pd.read_csv('job_descriptions.csv')
df.head(5)

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [5]:
df.isnull().sum()

Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     5478
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
#drop irrelevent columns 
irrelevent_columns = ['Job Id','Contact Person','Contact','Job Portal','latitude','longitude','Company Profile','Job Posting Date','Preference','Company','location','Company Size','Country']
df= df.drop(columns=irrelevent_columns)

In [9]:
df.head(5)

,Experience,Qualifications,Salary Range,Work Type,Job Title,Role,Job Description,Benefits,skills,Responsibilities,Min Salary,Max Salary,Average Salary
0,5 to 15 Years,M.Tech,$59K-$99K,Intern,Digital Marketing Specialist,Social Media Manager,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",59000,99000,79000.0
1,2 to 12 Years,BCA,$56K-$116K,Intern,Web Developer,Frontend Web Developer,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",56000,116000,86000.0
2,0 to 12 Years,PhD,$61K-$104K,Temporary,Operations Manager,Quality Control Manager,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,61000,104000,82500.0
3,4 to 11 Years,PhD,$65K-$91K,Full-Time,Network Engineer,Wireless Network Engineer,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",65000,91000,78000.0
4,1 to 12 Years,MBA,$64K-$87K,Intern,Event Manager,Conference Manager,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,64000,87000,75500.0

In [21]:
# df_new.drop(columns = ['location','Country','Benefits'],inplace = True)

In [10]:
df['Job Title'].value_counts(ascending=True).head(10)

Job Title
Inventory Analyst          3342
Key Account Manager        3411
Procurement Coordinator    3424
QA Engineer                3439
Personal Assistant         3441
Investment Advisor         3452
IT Administrator           3476
Sales Associate            3482
Network Analyst            3482
Event Manager              3494
Name: count, dtype: int64

In [11]:
job_title_roles = df.groupby('Job Title')['Role']

In [12]:
job_title_roles.sum().head(5)

Job Title
Account Director            Account StrategistAccount StrategistAccount St...
Account Executive           Sales Account ExecutiveSales Account Executive...
Account Manager             Sales Account ManagerSales Account ManagerSale...
Accountant                  Financial AccountantTax AccountantTax Accounta...
Administrative Assistant    Executive AssistantExecutive AssistantExecutiv...
Name: Role, dtype: object

In [13]:
mask = df['Job Title']=='Software Developer'
df[mask]

,Experience,Qualifications,Salary Range,Work Type,Job Title,Role,Job Description,Benefits,skills,Responsibilities,Min Salary,Max Salary,Average Salary
62,0 to 11 Years,M.Tech,$56K-$94K,Contract,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Legal Assistance, Bonuses and Incentive Prog...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,56000,94000,75000.0
174,1 to 14 Years,MBA,$59K-$115K,Part-Time,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Employee Referral Programs, Financial Counse...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,59000,115000,87000.0
1141,0 to 13 Years,MCA,$64K-$113K,Intern,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Legal Assistance, Bonuses and Incentive Prog...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,64000,113000,88500.0
2340,2 to 12 Years,B.Com,$65K-$97K,Contract,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Life and Disability Insurance, Stock Options...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,65000,97000,81000.0
2460,2 to 8 Years,MCA,$58K-$123K,Intern,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Childcare Assistance, Paid Time Off (PTO), R...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,58000,123000,90500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614511,1 to 11 Years,BCA,$61K-$96K,Part-Time,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Employee Assistance Programs (EAP), Tuition ...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,61000,96000,78500.0
1614666,5 to 15 Years,MCA,$56K-$119K,Full-Time,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Legal Assistance, Bonuses and Incentive Prog...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,56000,119000,87500.0
1614710,2 to 15 Years,BBA,$65K-$101K,Intern,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Casual Dress Code, Social and Recreational A...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,65000,101000,83000.0
1615319,3 to 9 Years,M.Tech,$65K-$85K,Part-Time,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Transportation Benefits, Professional Develo...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,65000,85000,75000.0
1615737,0 to 12 Years,M.Com,$62K-$95K,Contract,Software Developer,Mobile App Developer,Mobile App Developers design and develop mobil...,"{'Employee Assistance Programs (EAP), Tuition ...","Mobile app development languages (e.g., Java, ...",Create mobile applications for iOS and Android...,62000,95000,78500.0

In [14]:
df['Job Summary'] = df['Experience']+" "+df['Job Description']+" "+df['Job Title']+" "+df['Qualifications']+" "+df['Responsibilities']+" "+df['Role']+" "+df['Work Type']+" "+df['skills']

In [15]:
# converted into lower case
df['Job Summary'] = df['Job Summary'].str.lower()
df.head(5)

,Experience,Qualifications,Salary Range,Work Type,Job Title,Role,Job Description,Benefits,skills,Responsibilities,Min Salary,Max Salary,Average Salary,Job Summary
0,5 to 15 Years,M.Tech,$59K-$99K,Intern,Digital Marketing Specialist,Social Media Manager,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",59000,99000,79000.0,5 to 15 years social media managers oversee an...
1,2 to 12 Years,BCA,$56K-$116K,Intern,Web Developer,Frontend Web Developer,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",56000,116000,86000.0,2 to 12 years frontend web developers design a...
2,0 to 12 Years,PhD,$61K-$104K,Temporary,Operations Manager,Quality Control Manager,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,61000,104000,82500.0,0 to 12 years quality control managers establi...
3,4 to 11 Years,PhD,$65K-$91K,Full-Time,Network Engineer,Wireless Network Engineer,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",65000,91000,78000.0,4 to 11 years wireless network engineers desig...
4,1 to 12 Years,MBA,$64K-$87K,Intern,Event Manager,Conference Manager,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,64000,87000,75500.0,1 to 12 years a conference manager coordinates...

In [17]:
type(df['Job Summary'])

pandas.core.series.Series

In [19]:
df['Job Summary'].dtype

dtype('O')

In [18]:
df1 = df[['Salary Range','Job Summary']]

In [20]:
# Downsample the dataset to 10% for training
df_sampled = df1.sample(frac=0.2, random_state=42)
df_sampled

        Salary Range                                        Job Summary
108318     $55K-$84K  5 to 10 years promote diversity and inclusion ...
7787      $61K-$108K  0 to 12 years architectural drafters assist ar...
1237496    $57K-$82K  0 to 11 years an art education coordinator pla...
55757      $56K-$95K  5 to 12 years environmental impact analysts as...
818970    $58K-$122K  4 to 13 years an art education coordinator pla...
...              ...                                                ...
1272093   $62K-$112K  2 to 12 years a human resources director leads...
1189130    $56K-$87K  4 to 14 years marketing analytics specialists ...
136776    $63K-$127K  1 to 15 years lead and motivate sales teams, s...
238288     $64K-$83K  5 to 9 years sustainable design specialists in...
319371    $56K-$104K  1 to 10 years a conference manager coordinates...

[323188 rows x 2 columns]

In [21]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*>')
    return pattern.sub(r'', text)

df_sampled['Job Summary'] = df_sampled['Job Summary'].apply(remove_html_tags)
df_sampled

        Salary Range                                        Job Summary
108318     $55K-$84K  5 to 10 years promote diversity and inclusion ...
7787      $61K-$108K  0 to 12 years architectural drafters assist ar...
1237496    $57K-$82K  0 to 11 years an art education coordinator pla...
55757      $56K-$95K  5 to 12 years environmental impact analysts as...
818970    $58K-$122K  4 to 13 years an art education coordinator pla...
...              ...                                                ...
1272093   $62K-$112K  2 to 12 years a human resources director leads...
1189130    $56K-$87K  4 to 14 years marketing analytics specialists ...
136776    $63K-$127K  1 to 15 years lead and motivate sales teams, s...
238288     $64K-$83K  5 to 9 years sustainable design specialists in...
319371    $56K-$104K  1 to 10 years a conference manager coordinates...

[323188 rows x 2 columns]

In [22]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

df_sampled['Job Summary'] = df_sampled['Job Summary'].apply(remove_url)
df_sampled

        Salary Range                                        Job Summary
108318     $55K-$84K  5 to 10 years promote diversity and inclusion ...
7787      $61K-$108K  0 to 12 years architectural drafters assist ar...
1237496    $57K-$82K  0 to 11 years an art education coordinator pla...
55757      $56K-$95K  5 to 12 years environmental impact analysts as...
818970    $58K-$122K  4 to 13 years an art education coordinator pla...
...              ...                                                ...
1272093   $62K-$112K  2 to 12 years a human resources director leads...
1189130    $56K-$87K  4 to 14 years marketing analytics specialists ...
136776    $63K-$127K  1 to 15 years lead and motivate sales teams, s...
238288     $64K-$83K  5 to 9 years sustainable design specialists in...
319371    $56K-$104K  1 to 10 years a conference manager coordinates...

[323188 rows x 2 columns]

In [23]:
import string,time
exclude = string.punctuation
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

df_sampled['Job Summary'] = df_sampled['Job Summary'].apply(remove_punc1)
df_sampled

        Salary Range                                        Job Summary
108318     $55K-$84K  5 to 10 years promote diversity and inclusion ...
7787      $61K-$108K  0 to 12 years architectural drafters assist ar...
1237496    $57K-$82K  0 to 11 years an art education coordinator pla...
55757      $56K-$95K  5 to 12 years environmental impact analysts as...
818970    $58K-$122K  4 to 13 years an art education coordinator pla...
...              ...                                                ...
1272093   $62K-$112K  2 to 12 years a human resources director leads...
1189130    $56K-$87K  4 to 14 years marketing analytics specialists ...
136776    $63K-$127K  1 to 15 years lead and motivate sales teams se...
238288     $64K-$83K  5 to 9 years sustainable design specialists in...
319371    $56K-$104K  1 to 10 years a conference manager coordinates...

[323188 rows x 2 columns]

In [24]:
import nltk
# nltk.download('punkt')
# nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [25]:
remove_stopwords('5 to 15 years social media managers oversee an organizations social media presence they create and schedule content engage with followers and analyze social media metrics to drive brand awareness and engagement digital marketing specialist mtech manage and grow social media accounts create engaging content and interact with the online community develop social media content calendars and strategies monitor social media trends and engagement metrics social media manager intern social media platforms eg facebook twitter instagram content creation and scheduling social media analytics and insights community engagement paid social advertising')

'5  15 years social media managers oversee  organizations social media presence  create  schedule content engage  followers  analyze social media metrics  drive brand awareness  engagement digital marketing specialist mtech manage  grow social media accounts create engaging content  interact   online community develop social media content calendars  strategies monitor social media trends  engagement metrics social media manager intern social media platforms eg facebook twitter instagram content creation  scheduling social media analytics  insights community engagement paid social advertising'

In [26]:
df_sampled['Job Summary'] = df_sampled['Job Summary'].apply(remove_stopwords)
df_sampled

KeyboardInterrupt:

In [29]:
df_sampled.head(5)

        Salary Range                                        Job Summary
108318     $55K-$84K  5 to 10 years promote diversity and inclusion ...
7787      $61K-$108K  0 to 12 years architectural drafters assist ar...
1237496    $57K-$82K  0 to 11 years an art education coordinator pla...
55757      $56K-$95K  5 to 12 years environmental impact analysts as...
818970    $58K-$122K  4 to 13 years an art education coordinator pla...

In [35]:
# import nltk
# from nltk.stem.porter import PorterStemmer
# ps = PorterStemmer()

# def stem(text):
#     y = []
#     for i in text.split():
#         y.append(ps.stem(i))
#     return " ".join(y)

In [36]:
# stem("5 to 15 YearsSocial Media Managers oversee an organizations social media presence. They create and schedule content, engage with followers, and analyze social media metrics to drive brand awareness and engagement.Digital Marketing SpecialistM.TechManage and grow social media accounts, create engaging content, and interact with the online community. Develop social media content calendars and strategies. Monitor social media trends and engagement metrics.Social Media ManagerInternSocial media platforms (e.g., Facebook, Twitter, Instagram) Content creation and scheduling Social media analytics and insights Community engagement Paid social advertisingIcahn Enterprises")

In [30]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import nltk

#Download WordNet data if not already downloaded
nltk.download('wordnet')
nltk.download('omw-1.4')  # For multilingual WordNet
nltk.download('averaged_perceptron_tagger')  # For POS tagging
nltk.download('averaged_perceptron_tagger_eng')

lemmatizer = WordNetLemmatizer()

# Function to get WordNet POS tag from nltk POS tag
def get_wordnet_pos(word):
    """Map NLTK POS tag to WordNet POS tag."""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {
        'J': wordnet.ADJ,
        'N': wordnet.NOUN,
        'V': wordnet.VERB,
        'R': wordnet.ADV
    }
    return tag_dict.get(tag, wordnet.NOUN)

# Lemmatization function
def lemmatize(text):
    lemmatized_words = []
    for word in text.split():
        pos = get_wordnet_pos(word)  # Get the POS tag for each word
        lemmatized_words.append(lemmatizer.lemmatize(word, pos))
    return " ".join(lemmatized_words)

[nltk_data] Downloading package wordnet to C:\Users\Insha
[nltk_data]     sadaf\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Insha
[nltk_data]     sadaf\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Insha sadaf\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\Insha sadaf\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

In [31]:
lemmatize("5 to 15 Years Social Media Managers oversee an organizations social media presence. They create and schedule content, engage with followers, and analyze social media metrics to drive brand awareness and engagement. Digital Marketing Specialist M.Tech Manage and grow social media accounts, create engaging content, and interact with the online community. Develop social media content calendars and strategies. Monitor social media trends and engagement metrics. Social Media Manager Intern Social media platforms (e.g., Facebook, Twitter, Instagram) Content creation and scheduling Social media analytics and insights Community engagement Paid social advertising Icahn Enterprises")

'5 to 15 Years Social Media Managers oversee an organization social medium presence. They create and schedule content, engage with followers, and analyze social medium metric to drive brand awareness and engagement. Digital Marketing Specialist M.Tech Manage and grow social medium accounts, create engage content, and interact with the online community. Develop social medium content calendar and strategies. Monitor social medium trend and engagement metrics. Social Media Manager Intern Social medium platform (e.g., Facebook, Twitter, Instagram) Content creation and schedule Social medium analytics and insight Community engagement Paid social advertising Icahn Enterprises'

In [43]:
from gensim.models import Word2Vec
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_sampled['Salary Range Encoded'] = le.fit_transform(df_sampled['Salary Range'])

# Tokenize Job Summary
df_sampled['Job Summary Tokens'] = df_sampled['Job Summary'].apply(lambda x: x.split())
df_sampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 323188 entries, 108318 to 319371
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Salary Range          323188 non-null  object
 1   Job Summary           323188 non-null  object
 2   Salary Range Encoded  323188 non-null  int32
 3   Job Summary Tokens    323188 non-null  object
dtypes: int32(1), object(3)
memory usage: 19.2+ MB

In [45]:
# Train Word2Vec model
w2v_model = Word2Vec(sentences=df_sampled['Job Summary Tokens'], vector_size=100, window=5, min_count=1, workers=4)

In [46]:
# Function to get sentence embeddings by averaging word vectors
def get_sentence_vector(sentence, model):
    vector = np.zeros(model.vector_size)
    count = 0
    for word in sentence:
        if word in model.wv:
            vector += model.wv[word]
            count += 1
    if count > 0:
        vector /= count
    return vector

In [47]:
df_sampled.sample(5)

,Salary Range,Job Summary,Salary Range Encoded,Job Summary Tokens
1495054,$59K-$80K,2 to 13 years machine learning engineers devel...,235,"[2, to, 13, years, machine, learning, engineer..."
1128393,$61K-$124K,0 to 14 years social media analysts analyze so...,330,"[0, to, 14, years, social, media, analysts, an..."
1579360,$63K-$113K,3 to 13 years a legal assistant supports legal...,421,"[3, to, 13, years, a, legal, assistant, suppor..."
142206,$57K-$112K,2 to 12 years a family counselor works with fa...,114,"[2, to, 12, years, a, family, counselor, works..."
1076144,$58K-$85K,2 to 13 years accounting managers supervise ac...,189,"[2, to, 13, years, accounting, managers, super..."

In [48]:
# Create feature vectors for Job Summary
df_sampled['Job Summary Vector'] = df_sampled['Job Summary Tokens'].apply(lambda x: get_sentence_vector(x, w2v_model))

In [49]:
df_sampled.sample(10)

,Salary Range,Job Summary,Salary Range Encoded,Job Summary Tokens,Job Summary Vector
575266,$65K-$103K,0 to 8 years training coordinators design and ...,513,"[0, to, 8, years, training, coordinators, desi...","[-0.2631399942671551, 0.30036142808111277, -0...."
368196,$55K-$89K,5 to 12 years a cloud architect designs and ma...,40,"[5, to, 12, years, a, cloud, architect, design...","[0.39270535868699435, 0.0397494588596899, 0.42..."
1170213,$59K-$128K,3 to 11 years a market research analyst gather...,232,"[3, to, 11, years, a, market, research, analys...","[-0.9171174690127373, 0.7832893204140036, 0.75..."
686385,$55K-$87K,4 to 13 years system administrators manage and...,38,"[4, to, 13, years, system, administrators, man...","[0.9163421212894017, 0.8947909738196701, 0.365..."
1576361,$62K-$86K,5 to 8 years mobile app developers design and ...,394,"[5, to, 8, years, mobile, app, developers, des...","[1.4333902381831545, 0.3482199330953346, -0.50..."
1144996,$60K-$125K,2 to 13 years electronics hardware engineers d...,280,"[2, to, 13, years, electronics, hardware, engi...","[-0.10566645139266574, 1.7497138612208858, 0.4..."
124796,$59K-$82K,5 to 11 years backend web developers build and...,237,"[5, to, 11, years, backend, web, developers, b...","[1.4254083708935492, 0.6726320289654305, -0.38..."
872428,$59K-$124K,2 to 15 years network security specialists foc...,228,"[2, to, 15, years, network, security, speciali...","[-2.727004222024013, 0.8709834226790596, -1.57..."
661542,$63K-$119K,4 to 13 years sustainable design specialists i...,427,"[4, to, 13, years, sustainable, design, specia...","[-0.6901706934480344, 0.677818667711848, -0.69..."
645415,$61K-$85K,3 to 13 years network administrators manage an...,342,"[3, to, 13, years, network, administrators, ma...","[-1.00643566402141, 0.657706793746911, -1.2449..."

In [ ]:
# # Convert vectors into a feature matrix
# X = np.vstack(df1['Job Summary Vector'].values)
# y = df1['Salary Range Encoded']

In [71]:
# # Downsample the dataset to 10% for training
# df_sampled = df1.sample(frac=0.2, random_state=42)

In [50]:
df_sampled

,Salary Range,Job Summary,Salary Range Encoded,Job Summary Tokens,Job Summary Vector
108318,$55K-$84K,5 to 10 years promote diversity and inclusion ...,35,"[5, to, 10, years, promote, diversity, and, in...","[0.9952354239005792, -1.634821269857256, 0.009..."
7787,$61K-$108K,0 to 12 years architectural drafters assist ar...,314,"[0, to, 12, years, architectural, drafters, as...","[-1.1205225828103722, 0.24461298370733858, 0.7..."
1237496,$57K-$82K,0 to 11 years an art education coordinator pla...,135,"[0, to, 11, years, an, art, education, coordin...","[-1.5351494621772033, -1.01164654309933, -1.51..."
55757,$56K-$95K,5 to 12 years environmental impact analysts as...,97,"[5, to, 12, years, environmental, impact, anal...","[0.10459823610308842, 1.2875548028984132, 0.25..."
818970,$58K-$122K,4 to 13 years an art education coordinator pla...,175,"[4, to, 13, years, an, art, education, coordin...","[-1.5232355271394435, -1.014117238154778, -1.5..."
...,...,...,...,...,...
1272093,$62K-$112K,2 to 12 years a human resources director leads...,369,"[2, to, 12, years, a, human, resources, direct...","[2.042632732540369, -0.6967010824647668, -0.41..."
1189130,$56K-$87K,4 to 14 years marketing analytics specialists ...,89,"[4, to, 14, years, marketing, analytics, speci...","[-0.4486457762740007, 1.202556126410278, -0.31..."
136776,$63K-$127K,1 to 15 years lead and motivate sales teams se...,435,"[1, to, 15, years, lead, and, motivate, sales,...","[2.3980177603662014, 1.8045641954215068, 0.644..."
238288,$64K-$83K,5 to 9 years sustainable design specialists in...,493,"[5, to, 9, years, sustainable, design, special...","[-0.6912873809115362, 0.6860667624968594, -0.7..."
319371,$56K-$104K,1 to 10 years a conference manager coordinates...,55,"[1, to, 10, years, a, conference, manager, coo...","[0.007608803240834056, -0.264252474179139, 0.2..."

In [51]:
# Convert vectors into a feature matrix
X = np.vstack(df_sampled['Job Summary Vector'].values)
y = df_sampled['Salary Range Encoded']

In [52]:
# Train-test split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Define models
models = {
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'Logistic Regression': LogisticRegression(max_iter=500, random_state=42),
    'Support Vector Machine': SVC(kernel='linear', probability=True, random_state=42)
}

# Train and evaluate models
best_model = None
best_accuracy = 0

for name, model in models.items():
    # Train model
    model.fit(X_train, y_train)
    
    # Predict and evaluate
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    
    print(f"Model: {name}")
    print(f"Accuracy: {accuracy}")
    print(classification_report(y_test, y_pred))
    print("-" * 50)
    
    # Store the best model
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model

print(f"Best Model: {best_model}")
print(f"Best Accuracy: {best_accuracy}")

In [ ]:
# Save the best model
with open('best_salary_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)

# Save the label encoder
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(le, file)